<!--<div class="bar bar-header bar-calm">

    <button class="button icon ion-navicon"></button>
    <h1 class="title">Demo ONE</h1>
</div>-->
<!--<ion-header-bar
  title="headerTitle"
  left-buttons="leftButtons"
  right-buttons="rightButtons"
  type="bar-positive"
  align-title="center">
    <button class="button icon ion-navicon"></button>
    <h1 class="title">Demo ONE</h1>
    <button class="button icon ion-email"></button>
</ion-header-bar>-->

<ion-content has-header="true" has-tabs="true" padding="true" class="app-ion-content">
<ion-refresher>Pull to refresh...</ion-refresher>
    <div class="list">

        <a class="item item-icon-left" href="#">
            <i class="icon ion-email"></i>
            Check mail
        </a>

        <a class="item item-icon-left item-icon-right" href="#">
            <i class="icon ion-chatbubble-working"></i>
            Call Ma
            <i class="icon ion-ios7-telephone-outline"></i>
        </a>

        <a class="item item-icon-left item-icon-right item-thumbnail-left" href="#">
            <img src="img/ionic.png">
            Record album
            <span class="item-note">
                Grammy
            </span>
            <i class="icon ion-mic-a"></i>
        </a>

        <a class="item item-icon-left" href="#">
            <i class="icon ion-person-stalker"></i>
            Friends
            <span class="badge badge-assertive">0</span>
        </a>

    </div>
    <div class="button-bar">
        <a class="button">First</a>
        <a class="button">Second</a>
        <a class="button">Third</a>
    </div>
    <div class="card">
        <div class="item item-text-wrap">
            This is a basic Card which contains an item that has wrappig text.
        </div>
    </div>

    <div class="range">
        <i class="icon ion-volume-low"></i>
        <input type="range" name="volume">
        <i class="icon ion-volume-high"></i>
    </div>

    <div class="list">
        <div class="item range range-positive">
            <i class="icon ion-ios7-sunny-outline"></i>
            <input type="range" name="volume" min="0" max="100" value="33">
            <i class="icon ion-ios7-sunny"></i>
        </div>
    </div>
    <div class="tabs">
        <a class="tab-item tab-item-energized">
            Home
        </a>
        <a class="tab-item tabs-calm">
            Favorites
        </a>
        <a class="tab-item tabs-primary">
            Settings
        </a>
    </div>
    Android is an operating system based on the Linux kernel,[12] and designed primarily for touchscreen mobile devices such as smartphones and tablet computers. Initially developed by Android, Inc., which Google backed financially and later bought in 2005,[13] Android was unveiled in 2007 along with the founding of the Open Handset Alliance—a consortium of hardware, software, and telecommunication companies devoted to advancing open standards for mobile devices.[14] The first publicly available smartphone running Android, the HTC Dream, was released on October 22, 2008.[15]
    The user interface of Android is based on direct manipulation, using touch inputs that loosely correspond to real-world actions, like swiping, tapping, pinching and reverse pinching to manipulate on-screen objects. Internal hardware such as accelerometers, gyroscopes and proximity sensors are used by some applications to respond to additional user actions, for example adjusting the screen from portrait to landscape depending on how the device is oriented. Android allows users to customize their home screens with shortcuts to applications and widgets, which allow users to display live content, such as emails and weather information, directly on the home screen. Applications can further send notifications to the user to inform them of relevant information, such as new emails and text messages.
    Android's source code is released by Google under the Apache License;[12] this permissive licensing allows the software to be freely modified and distributed by device manufacturers, wireless carriers and enthusiast developers. Most Android devices ship with a combination of open source and proprietary software.[3] As of July 2013, Android has the largest number of applications ("apps"), available for download in Google Play store which has had over 1 million apps published, and over 50 billion downloads.[16] A developer survey conducted in April–May 2013 found that Android is the most used platform among developers: it is used by 71% of the mobile developers population.[17]
    Android is popular with technology companies which require a ready-made, low-cost and customizable operating system for high-tech devices.[18] Despite being primarily designed for phones and tablets, it also has been used in televisions, games consoles, digital cameras and other electronics. Android's open nature has encouraged a large community of developers and enthusiasts to use the open-source code as a foundation for community-driven projects, which add new features for advanced users[19] or bring Android to devices which were officially released running other operating systems.
    As of May 2012, Android became the most popular mobile OS, having the largest installed base, and is a market leader in most countries[20] including the United States; there it has had the highest installed base of mobile phones for years.[21] In the third quarter of 2013, Android's share of the global smartphone shipment market—led by Samsung products—was 81.3%, the highest ever.[22][23][24] In most markets Android-powered phones are the most popular comprising more than half of the overall smartphone sales, including the United States market starting with the September–November 2013 period.[25] The operating system's success has made it a target for patent litigation as part of the so-called "smartphone wars" between technology companies.[26][27] As of September 2013, one billion Android devices have been activated.[28]
</ion-content>


<div class="bar bar-footer bar-balanced">
    <div class="title">Footer</div>
</div>