/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 24, 2014, 6:28:12 AM
    Author     : nikhil
*/

#alertToast{
    z-index: 51;
    position: fixed;
    margin-left: 100px;
    text-align: center;
}
.popupPage{
    /* background-color: #cdb182; */
    /* margin: 90px; */
    /* opacity: 0.6; */
    /*border: black solid 2px;*/
    padding: 15px;
}
.right-corner{
    float: right; 
    display: block;
}



.navigation-menu{
    height: 100%;
    background-color: #808080;
    /*width: 40%;*/
    position: fixed;
    z-index: 1000;
    padding: 0px;
}
.menu-button {
    width: 100px;
    text-align: left;
}